<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        function submitBtn() {
            var data = $("#loginForm").serialize();
            console.log(data);
            
            $.ajax({
                type: 'POST',
                url: '/Account/Login',
                data: data,
                success: function (data) {
                    
                    console.log(data);
                },
                error: function (error) {
                    
                    console.log(error);
                }
            })
        }
    </script>
    <style>
        body {
            background-color: #e5e5e5;
            text-align: -webkit-center;
        }
        input {
            width: -webkit-fill-available;
            text-align: center;
            font-size: large;
            border: none;
            border-radius: 8px;
        }
        table{
            text-align:center;
        }
        td{
            padding: 7px;
        }
        img {
            margin:30px;
            max-width: 100%;
            height: auto;
        }
        .btn {
            border: solid;
            border-radius: 9px;
            border-color: mediumblue;
            background-color: mediumblue;
        }
    </style>
</head>
<body>
    <div>
        <div class="col-md-10">
            <form id="loginForm" method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="Login">
                <table>
                    <tr >
                        <td>
                            <img src="~/ycc-logo.png" />
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" id="username" name="username" placeholder="Username" required /></td>
                    </tr>
                    <tr>
                        <td><input type="password" id="password" name="password" placeholder="Password" required /></td>
                    </tr>
                    <tr>
                        <td>
                            <a class="mdl-navigation__link" href='@Url.Action("Create", "Account")'>FORGOT PASSWORD</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-offset-2 col-md-10">
                        <input class="btn" type="submit" value="CONTINUE" onclick="submitBtn()"  />
                        </td>
                    </tr>
                    
                </table>

            </form>
        </div>
    </div>
</body>

</html>

